<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style2.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>Dashboard page</title>
</head>
<body>

    <div id="logout">
    <a href="/login" class="logout">Logout</a>
    </div>
 
    <div class="title">
        <h1>Welcome, <%= user %></h1>
    </div>
<div class="section">
   
<div class="container">
    <h2>What's On Your Mind?</h2>
            <div class="img-upload">
            <i class="bx bxs-cloud-upload icon"></i>
            <h3>Upload Image</h3>
            <p>Accepted file types are .jpg, .png, .gif, not exceeding 2MB in file size</p>
            <form action="/upload" method="post"
                enctype="multipart/form-data">
                <input type="file" name="picture">
                <input type="submit"> 
            </form>
            </div>
            <ul> 
                <% if(messages.error) { %>
                <li>  <%= messages.error %> </li>
                    <% } %>
          </ul>
        </div>
    </div>



    <section>
        <div class="box">
            <div class="name"><h4><%= user %></h4></div>
            <div class="timestamp"><p><%= timeStamp %></p>
            </div>
            <div class="img">
                <img width="700" height="700" src="data:<%= data %>;base64,<%= img %>" />
            </div>
            <div class="like">
                <button><i class='bx bxs-heart bx-border'></i></button> <%= likes %>
            </div>
            <div class="comment">
                <input type="text" id="comment" name="comment" placeholder="Leave a comment here">
                <input type="button" value="Comment">
            </div>
        </div>
    </section>

    <!-- <section>
        <div class="box">
            <div class="name"><h4><%= user %></h4></div>
            <div class="timestamp"><p>10:04:23</p></div>
            <div class="img">
                <img src="https://cdn.pixabay.com/photo/2021/04/12/08/10/coffee-6171744_960_720.jpg">
            </div>
            <div class="like">
                <button>LIKE</button>
                <span> No. of Likes: </span>
            </div>
            <div class="comment">
                <input type="button" value="Comment" onclick="clickMe()">
                <input type="text" id="show">
            </div>
        </div>
    </section> -->


    <!-- <script>
        function clickMe() {
            var text = document.getElementById("show");
            if (!text.style.display) {
                text.style.display = "none";
            }
            if (text.style.display === "none") {
                text.style.display = "grid";
                text.style.width = "800px";
            } else {
                text.style.display = "none";
            }
        }
    </script> -->



</body>
</html>
